<div class="top-nav">
    <div class="content"><a class="content" [routerLink]="['/in28minutes']">In28Minutes</a></div>
    <div class="content"> <a class="content" [routerLink]="['/home']">Home</a></div>
   
    <div class="intodos content" ><a class="content" [routerLink]="['/todos']">Todos</a></div>
  
  </div>

  <div class="container">
    
    <h1>Todos</h1>
    <div *ngIf='Message' class="alert alert-success">{{Message}}</div>
    <table class="table">
     <thead>
       <tr>
         <th>Description</th>
         <th>Target Date</th>
         <th>Is completed</th>
         <th>Update</th>
         <th>Action</th>
       </tr>
     </thead>
     <thead >
       <tr *ngFor="let todo of todos">
         <td>{{todo.description}}</td>
         <td>{{todo. targateDate| date: 'dd-MM-yyyy'}}</td>
         <td>{{todo.done}}</td>
         <td><button (click)="updateTodos(todo)" class="btn btn-success">Update Todo</button></td>
         <td><button (click)="deleteTodos(todo.id)" class="btn btn-warning">Delete Todo</button></td>
       </tr>
     </thead>
      
    </table>
    <div class=" ">
      <button (click)="addTodo()" class="btn btn-success">Add Todo</button>
    </div>
  </div>